* {
	padding:0;
	margin:0;
}

html, body {
	font-family:Verdana;
	background-color: black;
	background-image: url('../images/riddler.jpg');
	background-repeat:no-repeat;
	background-position:10% 50%;
}

h1 {
	color:#333;
	font-size:20px;
	text-align:center;
	margin-bottom:25px;
	margin-top:15px;
}

.clear {
	clear:both;
}

.formLabel {
	float:left;
	width:180px;
	text-align:right;
	padding-right:5px;
}

.formInput {
	float:left;
	width:180px;
}

.formSeparator {
	clear:both;
	height:10px;
}

.sectionQuestion {
	font-size: 22px;
	background-color:#fff;
	box-shadow: 0 0 15px #000;
	width:300px;
	padding:10px;
	height:100px;
	border-radius: 5px;
	margin:50px auto;
}

.sectionAnswer input {
	width:220px;
}

.sectionAnswer {
	text-align: center;
	width:400px;
	margin:50px auto;
	border-radius: 5px;
	border:1px solid #aaa;
	padding:10px;
	background-color:#fff;
	box-shadow: 0 0 15px #000;
}

#result > div {
	border-radius: 5px;
	border:2px solid #777;
	background-color:#ccc;
	padding:10px;
	margin-top:10px;	
}