* {
	margin:0;
	padding:0;
}

html {
	background-color:black;
	color:white
}

h1 {
	text-align:center;
	margin-top:50px;
}

#container {
	display: flex;
	align-items:stretch;
	justify-content: center;
	width:1000px;
	margin:50px auto;
}

.character {
	border:1px solid white;
	background-color:#555;
	padding:30px;
	text-align:center;
	margin:0 10px;
	transition: 1s;
	box-shadow: 0 0 10px white;
}

.character h2 {
	margin-bottom:20px;
}

.character .hp {
	margin-top:30px;
	font-size:30px;
	font-weight:bold;
	text-shadow: 0 0 14px black;
}

.character:hover {
	cursor:pointer;
	background-color:#999;
	box-shadow: 0 0 10px #999;
}